/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
.back{
    background: url('src/assets/img/overlay4.png'),url('src/assets/img/feedback2.jpg');
    background-size: cover;
    height: 500px;
} 

.a{
color: white;
margin-left: 700px;
}

